---
import Layout from "../layouts/Layout.astro";---

<Layout title="Portfolio">


    <div class="bg-gray-100 py-20">
        <div class="grid grid-cols-1 md:grid-cols-3 px-14 ">
            <div class="md:col-span-2">
                <div class="max-w-screen-xl mx-auto px-4 py-10">
                    <h2 class="text-3xl font-semibold text-gray-900 sm:text-5xl">
                        Nuestros servicios
                    </h2>
                    <p class="mt-8 text-gray-700">
                        Ofrecemos una amplia gama de servicios de consultoría en tecnología de la información y desarrollo de
                        software.
                    </p>
                </div>
            </div>

            <div>
                <img src="https://via.placeholder.com/800x400" alt="section1Img"/>
            </div>

        </div>
    </div>

    <div class="py-20">
        <div class="grid grid-cols-1 md:grid-cols-3 px-14 ">


            <div>
                <img src="https://via.placeholder.com/800x400" alt="section1Img"/>
            </div>

            <div class="md:col-span-2">
                <div class="max-w-screen-xl mx-auto px-4 py-10">
                    <h2 class="text-3xl font-semibold text-gray-900 sm:text-5xl">
                        Nuestros servicios
                    </h2>
                    <p class="mt-8 text-gray-700">
                        Ofrecemos una amplia gama de servicios de consultoría en tecnología de la información y desarrollo de
                        software.
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="bg-gray-100 py-20">
        <div class="grid grid-cols-1 md:grid-cols-3 px-14 ">
            <div class="md:col-span-2">
                <div class="max-w-screen-xl mx-auto px-4 py-10">
                    <h2 class="text-3xl font-semibold text-gray-900 sm:text-5xl">
                        Nuestros servicios
                    </h2>
                    <p class="mt-8 text-gray-700">
                        Ofrecemos una amplia gama de servicios de consultoría en tecnología de la información y desarrollo de
                        software.
                    </p>
                </div>
            </div>

            <div>
                <img src="https://via.placeholder.com/800x400" alt="section1Img"/>
            </div>

        </div>
    </div>

</Layout>